@import './variables/global';
@import './variables/colors';

@mixin mobileDevice {
    @media (max-width: $mobile-width) {
        @content;
    }
}

@mixin tabletDevice {
    @media (min-width: $mobile-width+1) and (max-width:$tablet-width) {
        @content;
    }
}

@mixin desktopDevice {
    @media (min-width:$tablet-width + 1) and (max-width: $desktop-width) {
        @content;
    }
}

@mixin bigDevice {
    @media (min-width: $desktop-width+1) {
        @content;
    }
}

@mixin colorRed{
    color: #0051ff;
    background: $error-color;
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-left-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

@mixin font(
    $font-size,
    $line-height,
    $font-weight: 400,
    $font-style: normal,
    $font-family: $font-family-main,
) {
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
    font-style: $font-style;
    font-family: $font-family;
}


