@font-face {
    font-family: 'SB Sans Interface';
    src: url('shared/assets/fonts/SB-Sans-Interface.woff') format('woff'),
        url('shared/assets/fonts/SB-Sans-Interface.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
}
