@import 'styles.scss';

:root, input, button, option, select, textarea{
    @include font($font-size-m, $font-line-m, $font-weight-m);

    @include mobileDevice {
        @include font($font-size-s, $font-line-s, $font-weight-s);
    }
    @include tabletDevice {
        @include font($font-size-s, $font-line-s, $font-weight-s);
    }
    @include desktopDevice {
        @include font($font-size-m, $font-line-m, $font-weight-m);
    }
    @include bigDevice {
        @include font($font-size-l, $font-line-l, $font-weight-l);
    }
}

.app {
    background: $bg-color;
    color: $primary-color;
    text-align: center;
    min-height: 100vh;
    height: auto;
    box-sizing: border-box;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.form{
    background: $form-bg-color;
    border-radius: 24px;
    padding: 60px 110px;
    margin: $margin-l auto 0;
    width: $desktop-width-container;
    min-height: $desktop-height-container;
    box-sizing: border-box;
    height: auto;

    @include mobileDevice {
        margin: 0 auto;
        border: none;
        border-radius: 0;
        padding: 10px;
        width: $mobile-width-container;
        min-height: $mobile-height-container;
    }

    @include tabletDevice {
        border-radius: 0;
        width: $tablet-width-container;
        min-height: $tablet-height-container;
        padding: 10px;
    }


    @include bigDevice {
        width: $desktop-width-container;
        min-height: $desktop-height-container;
    }

}

.input-wrapper {
    @include flex-left-column
}

.btn-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
