:root {
  --margin-s: 8px;
  --margin-m: 12px;
  --margin-l: 24px;

  --input-width-s: 100px;
  --input-width-m: 300px;
  --input-width-l: 500px;

  --input-height-s: 30px;
  --input-height-m: 45px;
  --input-height-l: 55px;

  --chechbox-size-s: var(--font-line-s);
  --chechbox-size-m: var(--font-line-m);
  --chechbox-size-l: var(--font-line-l);
}
