@import './global';
$margin-s: 8px;
$margin-m: 12px;
$margin-l: 24px;

$input-width-s: 100px;
$input-width-m: 300px;
$input-width-l: 500px;

$input-height-xs: 20px;
$input-height-s: 30px;
$input-height-m: 45px;
$input-height-l: 55px;

$checkbox-size-s: $font-size-s;
$checkbox-size-m: $font-size-m;
$checkbox-size-l: $font-size-l;
