:root {
    --font-family-main: 'SB Sans Interface', 'Times New Roman', Serif;
    --font-size-m: 14px;
    --font-line-m: 20px;
    --font-weight-m: 400;

    --desktop-width: 1600px;
    --tablet-width: 769px;
    --mobile-width: 376px;

    --desktop-width-container: 65vw;
    --tablet-width-container: 100vw;
    --mobile-width-container: 100vw;

    --desktop-height-container: 74vh;
    --tablet-height-container: 100vh;
    --mobile-height-container: 100vh;
}
