@import 'app/styles/styles.scss';

.MultyStepForm{
  width: 100%;
  margin: 0 auto;

  @include mobileDevice {
    width: 100%;
  }
  @include tabletDevice {
    width: 100%;
  }
  @include desktopDevice {
    width: 70%;
  }
  @include bigDevice {
    max-width: 70%;
  }

}

.buttonWrapper{
  margin-top: $margin-m;
}
