@use 'app/styles/_mixins.scss' as mixins;


.MultyStepForm{
  width: 100%;

  @include mixins.mobile{
    width: 100%;
  }
  @include mixins.tablet{
    width: 100%;
  }
  @include mixins.desktop{
    width: 70%;
  }
  @include mixins.bigDevices{
    max-width: 70%;
  }

}

.buttonWrapper{
  margin-top: var(--margin-m);
}
