@import 'app/styles/styles.scss';

.margin{
  margin-bottom: $margin-m;
  @include mobileDevice {
    margin-bottom: $margin-s;
  }
  @include tabletDevice {
    margin-bottom: $margin-s;
  }
  @include bigDevice {
    margin-bottom: $margin-l;
  }
}
