@import 'app/styles/styles.scss';

.wrapper {
  @include flex-left-column;
}

.list{
  @include flex-left-column;
  list-style: none;
  margin-bottom: $margin-s;
  padding: 0;
}

.title{
  margin-bottom: $margin-s;
}

.inputWrapper {
  display: flex;
  margin-bottom: $margin-s;
}

.inputWrapper:last-child{
  margin-bottom: 0px;
}

.mrgAdd{
  //margin-top: $margin-s;
}
.plus{
  fill: $btn-color;
  width: $input-height-s;
  height: $input-height-s;

  @include mobileDevice {
    width: $input-height-xs;
    height: $input-height-xs;
  }
  @include tabletDevice {
    width: $input-height-xs;
    height: $input-height-xs;
  }
  @include bigDevice {
    width: $input-height-m;
    height: $input-height-m;
  }

}
.delete{
  width: $input-height-s;
  height: $input-height-s;
  fill: $bg-color;

  @include mobileDevice {
    width: $input-height-xs;
    height: $input-height-xs;
  }
  @include tabletDevice {
    width: $input-height-xs;
    height: $input-height-xs;
  }
  @include bigDevice {
    width: $input-height-m;
    height: $input-height-m;
  }
}
.errorMessage {
  color: $error-color;
}
