@import 'app/styles/styles.scss';

.Wrapper{
    @include flex-left-column;
}

.input {
    box-sizing: border-box;
    max-width: 100%;
    height: $input-height-m;
    padding: 12px;
    border: 1px solid $bg-color;
    border-radius: 4px;

    @include mobileDevice {
        height: $input-height-s;
    }
    @include tabletDevice {
        height: $input-height-s;
    }
    @include bigDevice {
        height: $input-height-l;
    }
}

.label {
    margin-bottom: $margin-s;
    color: $primary-color;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.errorMessage {
    color: $error-color;
}

.size-s {
    max-width: $input-width-s;
}

.size-m {
    max-width: $input-width-m;
}

.size-l {
    max-width: $input-width-l;
}


.wrapperInputLabel{
    display: flex;
    align-items: flex-start;
}

.top-label{
    flex-direction: column;

}

.left-label{
    flex-direction: row;
    .label{
        margin: 0;
        margin-right: $margin-s;
    }
}

.right-label{
    flex-direction: row-reverse;

    .label{
        margin: 0;
        margin-left: $margin-s;
    }
}

.checkbox {
    width: $checkbox-size-m;
    height: $checkbox-size-m;
    padding: 0;
    margin: 0;
    @include mobileDevice {
        width: $checkbox-size-s;
        height: $checkbox-size-s;
    }
    @include tabletDevice {
        width: $checkbox-size-s;
        height: $checkbox-size-s;
    }

    @include bigDevice {
        width: $checkbox-size-l;
        height: $checkbox-size-l;
    }
}

.color {
    background-color: $bg-color;
}

.valid {
    background-color: $success-color;
}
