@use 'app/styles/_mixins.scss' as mixins;

.Wrapper{
    @include mixins.flex-left-column;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: var(--input-height-m);
    padding: 12px;
    border: 1px solid var(--bg-color);
    border-radius: 4px;
}

.label {
    margin-bottom: var(--margin-s);
    color: var(--primary-color);
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.errorMessage {
    color: var(--error-color);
}

.size-s {
    width: var(--input-width-s);
    font: var(--font-m);
}

.size-m {
    width: var(--input-width-m);
    font: var(--font-m);
}

.size-l {
    width: var(--input-width-l);
    font: var(--font-l);
}


.wrapperInputLabel{
    display: flex;
    align-items: flex-start;
}

.top-label{
    flex-direction: column;

}

.left-label{
    flex-direction: row;
    .label{
        margin: 0;
        margin-right: var(--margin-s);
    }
}

.right-label{
    flex-direction: row-reverse;

    .label{
        margin: 0;
        margin-left: var(--margin-s);
    }
}

.checkbox {
    width: var(--chechbox-size-m);
    height: var(--chechbox-size-m);
    padding: 0;
    margin: 0;
}

.valid {
    background-color: var(--success-color);
}

.color {
    background-color: var(--bg-color);
}
