.select {
    width: 100%;
    height: 44px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid var(--bg-color);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 8px;
    color: var(--primary-color);
}
.size-s {
    width: 100px;
    font: var(--font-m);
}

.size-m {
    width: 300px;
    font: var(--font-m);
}

.size-l {
    width: 500px;
    font: var(--font-l);
}

.size-xl {
    width: 700px;
    font: var(--font-xl);
}
