.select {
    width: auto;
    height: 44px;
    box-sizing: border-box;
    padding: 12px;
    border: 1px solid var(--bg-color);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 8px;
    color: var(--primary-color);
}
