@import 'app/styles/styles.scss';

.wrapper {
  @include flex-left-column;
}

.title{
  margin-bottom: $margin-s;
}
.item {
  margin-bottom: $margin-s;
}
.list{
  list-style: none;
  padding: 0;
}
.item:last-child{
  margin-bottom: 0;
}
.errorMessage {
  color: $error-color;
}
