@use 'app/styles/_mixins.scss' as mixins;

.wrapper {
  @include mixins.flex-left-column;
}

.title{
  margin-bottom: var(--margin-s);
}
.item {
  margin-bottom: var(--margin-s);
}

.item:last-child{
  margin-bottom: 0;
}
