@import 'app/styles/styles.scss';


.label {
}
.wrapper {
    @include flex-left-column;
    width: 100%;
}

.textarea {
    width: 100%;
    height: 150px;
    overflow: auto;
    resize: none;
    border: 1px solid hsla(0, 0%, 0%, 0.5);

    &:focus {
        border: 1px solid $btn-color;
    }
}

.tip {
    opacity: 0.5;
}
